<div class="container blog-post">
  <img class="post-image" src='<%= static_path(@conn, "/images/Elephant.jpg") %>'></img>
  <%= render "form.html", changeset: @changeset,
                          action: post_path(@conn, :create), author: @author, cancel_path: post_path(@conn, :index) %>
</div>
